body {
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0); /* Gradiente suave de cinza claro para cinza médio */
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.title {
    background-color: cornflowerblue; /* Cor de fundo do título */
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

figure {
    margin: 0;
    max-width: 80%;
    text-align: center;
}

img {
    width: 300px; /* Ajuste do tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px; /* Bordas arredondadas para a imagem */
}

figcaption {
    margin-top: 10px;
    font-size: 18px;
    color: #333; /* Cor do texto do subtítulo */
}
